.header {
    min-height:  100vh;
    background-image: url('../../public/side-shot-code-editor-using-react-js.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
}