@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInText {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    50% {
      opacity: 0.5;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // background-color: #282c34;
    .h1 {
      @media screen and (max-width: 600px) {
        
     margin-top: 25%;
      }

    }
    .hello-world {
      font-size: 2rem;
      color: #fff;
      text-align: center;
      padding: 0;
      animation: fadeInText 2s ease-in-out forwards;
      margin: 0 0 2rem;
      font-family: "PtMono";
        @media screen and (max-width: 600px) {
          font-size: 2rem;
      
        }
      //  .textAnim {
      //   // color: $color-2;
      //  }
      }
      
      button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        transition: transform .4s;
        font-family: "Inter";
        &:hover {
            border-color: #61dafb;
            outline: none;
            box-shadow: 0 0 8px rgb(113,103,164);
            transform: scale(1.2);
            cursor: pointer;
          }
    
      }
  }
  
  
  
