@keyframes changeColorAndMove {
    0% {
      transform: translateY(0);
      fill: #000; // Couleur de départ
    }
    50% {
    //   transform: translateY(-10px);
    transform: scale(1.2);
      fill: #3498db; // Couleur intermédiaire (bleu par exemple)
    }
    100% {
      transform: translateY(0);
      fill: #000; // Retour à la couleur de départ
    }
  }


.sectionCompetence {
    background-color: #0e0e0e;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "PtMono";
    .sectionContainer {
        padding-top: 48px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        .titleContainer {
            margin: 25px;
        }
    }
    .frontEndContainer {
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 33%;
        background-color: #222424;
        margin-bottom: 30px;
        border-radius: 25px;
        @media screen and (max-width: 1520px) {
            width: 45%;
           
          }
        @media screen and (max-width: 1130px) {
            width: 55%;
           
          }
        @media screen and (max-width: 930px) {
            width: 65%;
           
          }
        @media screen and (max-width: 550px) {
            width: 75%;
           
          }
          
        .title {
            margin-bottom: 25px;
        }
        .svgContainer {
            display: flex;
            gap: 1rem;
        }
        svg {
                
            transition: transform 0.3s ease;
            animation: changeColorAndMove 2s infinite;
            @media screen and (max-width: 780px) {
                height: 30px;
                width: 30px;
               
              }
            @media screen and (max-width: 550px) {
                height: 20px;
                width: 20px;
               
              }
           
        }        
    }
}

