.sectionCompetence {
    background-color: rgb(3, 5, 5);
    background-size: cover;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
.sectionContainer {
    background-color: rgba(31, 28, 28, 0.5);
    padding: 30px;
    max-width: 1000px;
    width: 50%;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #fff;
    display: flex;align-items: center;
    justify-content: center; 
    flex-direction: column;
    color: $color-2;
    .titleContainer {
.title {

    @media screen and (max-width: 550px) {
       font-size: 1rem;
       padding-bottom: 10px;
        }
}
    }
   
    .container {
        display: flex;align-items: center;justify-content: space-evenly;flex-direction: row;
        height: 300px;
        gap: 2rem;
        width: 70%;
        @media screen and (max-width: 850px) {
            display: flex;
            flex-direction: column;
            }
       
        .frontEndContainer {
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            background-color: rgb(30, 41, 41);
            border-radius: 20px;
            width: 100%;
            h3 {
                @media screen and (max-width: 550px) {
                    font-size: 0.7rem;
                     }
            }
            svg {
                transition: transform 0.3s ease-in-out;
                margin-left: 1rem;
                
    @media screen and (max-width: 550px) {
        height: 25px;
        width: 25px;
         }
               
                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                  transform: scale(1.3);
                }
              }
        }
    }
}
}