
.btnContainer {
width: 100%;
align-items: center;
justify-content: center;
display: flex;
  .download-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 40%;
    font-size: 14px;
    transition: background-color .3s ease;
    &:hover {
      background-color: $color-2;
    }
    
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(0, 112, 243, 0.5);
    }
  }
}