.navbarC {
  height: 3rem;
  width: 100%;
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
    // background-color: rgba(0, 0, 0, 1);
    position: fixed; /* Ajoute cette propriété pour fixer la navbar en haut de la page */
    top: 0; /* Position par défaut */
    left: 0;
    right: 0;
    transition: top 0.4s ease-in-out;
    
    z-index: 1000; /* Assure que la navbar est au-dessus d'autres éléments */
    padding-top: 15px;
    @media screen and (max-width: 740px) {
      font-size: 1rem;
        height: 10rem;
      flex-direction: column;
    }
    
    @media screen and (max-width: 450px) {
      height: 11.5rem;
    }
    .logoContainer {
      
      .logo {
        cursor: pointer;
      }
    }
    
    
    .linksContainer {
      display: flex;
      color: #6d6d6d;
        justify-content: flex-end;
        width: 100%;
        gap: 2.5em;
        margin-right: 48px;
        
        @media screen and (max-width: 740px) {
          width: 100%;
          align-items: center;
          justify-content: center;
          margin-right: 0;
        }
        @media screen and (max-width: 550px) {
          width: 100%;
          gap: 1em;
         margin-right: 0;
         flex-wrap: wrap;
        }
        .navlink {
          cursor: pointer;
          transition: transform 0.3s ease-in-out;
          &:hover {
            color: #c7bdbd;
          
        }
      }
    }
  }
  
