.navbarC {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  position: fixed;
  top: 0;
  background: #222424;
  left: 0;
  right: 0;
  transition: top .4s ease-in-out;
  z-index: 1000;
  line-height: 4rem;
    @media screen and (max-width: 740px) {
      font-size: 1rem;
        height: 10rem;
      flex-direction: column;
    }
    
    @media screen and (max-width: 460px) {
      height: 14.5rem;
    }
    .logoContainer {
  display: flex;
     
      img {
        cursor: pointer;
     
      }
    }
    
    
    .linksContainer {
      display: flex;
      color: #6d6d6d;
        justify-content: flex-end;
        width: 100%;
        gap: 2.5em;
        margin-right: 48px;
        
        @media screen and (max-width: 740px) {
          width: 100%;
          align-items: center;
          justify-content: center;
          margin-right: 0;
        }
        @media screen and (max-width: 550px) {
          width: 100%;
          gap: 1em;
         margin-right: 0;
         flex-wrap: wrap;
        }
     
        .navlink {
          cursor: pointer;
          transition: transform 0.3s ease-in-out;
          &:hover {
            color: #c7bdbd;
          
        }
      }
    }
  }
  // .visible {
  //   top: 0;
   
  // }
  
  // .hidden {
  //   top: -1600px;
  // }