.sectionprofil {
    background-color: rgb(5, 12, 14);
    min-height: 400px;
    display: grid;
    justify-items: center;
    align-content: space-around;
    .titleProfil {
        font-size: x-large;
        color: white;
    }
    .descriptionContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        .photo {
            width: 50%;
            display: flex;
            justify-content: center;
            .image {
                border-radius: 20px;
         }
            
        }
        .description {
            width: 50%;
            display: flex;justify-content: center;
        .text {
            width: 60%;
            color: white;
        }
        }
    }
}