$color-1: #fafeff;
$color-2: #2b6fb3;
$color-3: #e7f7fe;


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
  }
  @font-face {
    font-family: "PlayfairDisplayRegular";
    src: local("PlayfairDisplayRegular"),
     url("../fonts/playfair_display/static/PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: 700;
   }
  @font-face {
    font-family: "RobotoItalic";
    src: local("RobotoItalic"),
     url("../fonts/roboto/Roboto-Italic.ttf") format("truetype");
    font-weight: 600;
   }
  @font-face {
    font-family: "Inter";
    src: local("inter"),
     url("../fonts/inter/static/Inter_24pt-SemiBold.ttf") format("truetype");
    font-weight: 300;
   }
  @font-face {
    font-family: "PtMono";
    src: local("PtMono"),
     url("../fonts/ptMono/PTMono-Regular.ttf") format("truetype");
    font-weight: 600;
   }

   .appContainer {
    font-family: "PtMono"
   }